* {
  margin: 0px;
  padding: 0px;
}
html {
  scroll-behavior: smooth;
}
.main {
  display: flex;
  height: fit-content;
}
.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  width: 20%;
  height: 94.5vh;
  background-color: #006697;
  padding: 20px;
}
.logo {
  height: fit-content;
  text-align: center;
  margin-top: 40px;
}
.logo-name {
  color: white;
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.link-container {
  padding: 60px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: -40px;
}
a {
  text-decoration: none;
  color: white;
  color: white;
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
a:hover{
    color: rgb(34, 224, 34);
}
.main-body {
  /* margin-left: 20%; */
  width: 80%;
}
.content {
  padding: 60px;
}
h1 {
  color: #006697;
  margin-bottom: 20px;
}
h1 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
p {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 14px;
  line-height: 25px;
}
.image {
  height: 700px;
}
.about-body {
  display: flex;
  padding: 0px 60px 0px 60px;
}
.about-image {
  width: 30%;
}
.about-content {
  width: 70%;
  padding: 0px 30px 30px 30px;
}
h2 {
  color: #006697;
  margin-bottom: 25px;
}
h2 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.about-text {
  margin-bottom: 25px;
}
.about-button {
  background-color: #006697;
  width: 170px;
  height: 50px;
  color: white;
  font-size: 16px;
  border: none;
}
.gallery-content {
  padding: 0px 60px 60px 60px;
}
.gallery-image-container {
  display: flex;
  gap: 15px;
}
.gallery-images {
  width: 175px;
  height: 160px;
}
